<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">principal</ion-title>
    </ion-toolbar>
    <button routerLink="/dos">Siguiente</button>
  </ion-header>




</ion-content>
      <ion-button routerLink="/dos" expand="block">
        Siguiente
        <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
